
*.tif
StarList_MEE2024.00000912.Zenith-Center1.fit.csv
stars_database/hip_database938.npz

data/hip_database938.npz
MEE_config.txt
*.pyc
pattern_data.npz
mee2024/TripleTrianglePlatesolveDatabase/TripleTriangle_pattern_data.npz
mee2024/TripleTrianglePlatesolveDatabase/TripleTriangle_pattern_dataB.npz
mee2024/build/
mee2024/dist/
TripleTrianglePlatesolveDatabase/TripleTriangle_pattern_data.npz
